
header{
	height: 200px;
	background: url(../images/headermed.jpg) no-repeat 90% 0px;
}

nav{
	top: 200px;
}

nav a{
	margin-right: 20px;
}

.allLinks{
	padding: 0px 20px 15px 20px;
}

.allLinks .linkBlock{
	background-position: 0px 0px;
}

body{
	background-image: none;
}

.tweets li{
	height: 300px;
}

h2{
	font-size: 1.2em;
}
