
body{
	background-image: none;
}

header {
	height: 75px;
	background: url(../images/headersm.jpg) no-repeat right 0px;
}

article{
	padding: 20px 20px 10px 20px;
}

nav{
	position: static;
	padding: 10px 0px 10px 0px;
	background-color: lightblue;
}

nav a{
	color: blue;
	display: block;
	margin: 15px;
	padding: 9px;
	border: 1px solid #a6abc5;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}
nav a:hover{
	color: red;
	background-color: rgba(255,255,255,.15);
}



footer{
	border-top: 1px solid blue;
}

.tweets li{
	width: auto;
	height: auto;
}