
/*Global rules*/
body{ 
	margin: 0; 
	padding: 0;
}

nav{
	width: 100%;
	display: block;
	position: absolute;
	background-color: white;
}
/*Large Screen rules*/

header{
	 height: 275px;
	 background: url(../images/headerlrg.jpg) no-repeat right 0px;
}

ul.linkBlock{
	display: inline-block;
}

article{
	padding: 60px 20px 10px 20px;
}

.allLinks{
	padding: 0px 0px 15px 0px;
}

.allLinks .linkBlock{
	width: 33%;
	float: left;
}

.tweets li{
	background-color: white;
	border: 1px solid black;
	margin: 5px;
	padding: 5px;
	width: 40%;
	height: 250px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	float: left;
}

nav{
	background: lightblue;
	top: 275px
}

nav a{
	margin: 12px 0px 10px 20px;

}

a#radar{
	display: block;
}

@media screen and (max-width: 990px){
	footer {
		padding-left: 20px;
	}
}